apiVersion: v1
kind: Pod
metadata:
  name: web-app
  namespace: app-team
spec: 
  containers:
  - name: web-app
    image: nginx
    ports:
    - containerPort: 80
    volumeMounts:
    - name: config-volume
      mountPath: /etc/config
      readOnly: true
  volumes:
  - name: config-volume
    se